/*!
 * # Variables
 */

/** Color **/
$primary-color: #42B983;
$close-color: #ff0000;

/** Transition **/
$card-transition: .28s cubic-bezier(.4,0,.2,1);

/** Box shadow **/
$card-shadow: 0 3px 4px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
